<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Forms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item
      button
      *ngFor="let form of forms"
      (click)="openForm(form)"
    >
      <ion-label>
        <h2>{{ form.name }}</h2>
        <p>{{ form.description }}</p>
      </ion-label>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="editForm(form); $event.stopPropagation()">
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="openForm(form); $event.stopPropagation()">
          <ion-icon name="play-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="newForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
