<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>form-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">form-list</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>Formulários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text color="danger" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </ion-text>

  <ion-list *ngIf="forms.length > 0">
    <ion-item button *ngFor="let f of forms" (click)="openForm(f.id_form)">
      <ion-label>
        <h2>{{ f.name }}</h2>
        <p>{{ f.description }}</p>
      </ion-label>
      <ion-badge slot="end">{{ f.status }} - {{ f.id_form }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-text *ngIf="!loading && forms.length === 0 && !errorMsg">
    <p>Nenhum formulário ativo encontrado para este tenant.</p>
  </ion-text>

  <ion-spinner *ngIf="loading"></ion-spinner>

</ion-content>