<ion-header>
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="medium">
    <p>{{ hint }}</p>
  </ion-text>

  <div class="sig-container">
    <canvas
      #canvas
      class="sig-canvas"
      (pointerdown)="onPointerDown($event)"
      (pointermove)="onPointerMove($event)"
      (pointerup)="onPointerUp($event)"
      (pointercancel)="onPointerUp($event)"
      (pointerleave)="onPointerLeave($event)"
    ></canvas>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="clear()">
          Limpar
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" (click)="save()">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
